.input-range {
    width: 195px;
    padding-left: 3px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0 14px 5px 0;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    float: left;
}

.input-range__label--min,
.input-range__label--max {
    display: none;
}

.input-range__label--value {
    margin-left: 1rem;
}

.number {
  margin-top: 5px;
  margin-bottom: 5px;
  clear: left;
  width: 100%;
  float: left;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .disabled {
    width: 43px;
    padding: 0px 5px;
    background-color: #ececec;
  }

  span.label {
    margin-left: 3px;
    float: left;
  }
}
