#port-picker {
  position: relative;
  float: right;
  display: flex;
  padding-left: 10px;
  padding-bottom: 14px;

  button {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    background-color: var(--color-primary);
    border-radius: 3px;
    border: 1px solid var(--color-primary);
    color: #fff;
    float: right;
    font-family: 'open_sansbold', Arial;
    font-size: 12px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    display: block;
    cursor: pointer;
    transition: all ease 0.2s;
    padding: 0px;
    padding-left: 9px;
    padding-right: 9px;
    line-height: 28px;
  }

  .button-dark {
    button {
      margin: 0px;
      width: 100%;
      line-height: 22px;
      padding: 0px;
      color: #a6a6a6;
      background: #3e403f;
      border-color: #111 #0a0a0a black;
      background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));

      &:active {
        color: white;
      }
    }
  }

  .dropdown-dark .dropdown-select {
    padding-right: 20px;
  }

  #serial-permission-overlay {
    z-index: 10;
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);

    button {
      margin-right: 0px;
    }
  }

  #portsinput {
    margin-top: 12px;
    margin-right: 20px;

    .dropdown {
      margin-bottom: 5px;
    }
  }

  #connect-button-wrapper {
    position: relative;
    float: right;
    left: 0px;
    margin-top: 19px;
    height: 70px;
    width: 60px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .connect-state {
    float: left;
    height: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-family: 'open_sansregular', Arial;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    margin-top: -1px;
  }



  .connect_b {
    float: left;

    a {
      height: 50px;
      width: 50px;
      border-radius: 100px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
      float: left;
      margin-left: 5px;
      margin-bottom: 7px;
      transition: none;
    }

    a.connect {
      background-color: var(--color-secondary);
      border: 1px solid var(--color-primary);
      background-image: url(images/icons/cf_icon_usb2_white.svg);
      background-repeat: no-repeat;
      background-size: 44px;
      background-position: center 6px;
      transition: none;
    }

    a.connect:hover {
      background-color: var(--color-primary);
    }

    a.connect.active {
      background-color: #e60000;
      border: 1px solid #fe0000;
      background-image: url(images/icons/cf_icon_usb1_white.svg);
      transition: none;
    }

    a.connect.active:hover {
      background-color: #f21212;
    }
  }
}

#main-wrapper #not-supported {
  float: right;
  max-width: 400px;
  z-index: 100;
  border: 1px solid red;
  background: white;
  margin: 20px;
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 20px;
  background: #fff;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  width:99%;
  margin-bottom:7px;
  border: 1px solid;
   border-color: #ccc #ccc #ccc;
  border-radius: 3px;

  &:before, &:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 7px;
    right: 7px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888 transparent;
    pointer-events: none;
  }

  &:before {
    border-bottom-style: solid;
    border-top: none;
    margin-top: -2px;
  }

  &:after {
    margin-top: 5px;
    border-top-style: solid;
    border-bottom: none;
  }

  .dropdown-select {
    position: relative;
    overflow:visible;
    width: 100%;
    margin-top:0px;
    padding-bottom:0px;
    padding: 1px 8px 6px 5px;
    height: 23px;
    line-height: 20px;
    font-size: 12px;
    color: #62717a;
    text-shadow: 0 1px white;
    /* Fallback for IE 8 */
    background: #f2f2f2;
    /* "transparent" doesn't work with Opera */
    background: rgba(0, 0, 0, 0) !important;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;

    &:focus {
      z-index: 3;
      width: 90%;
      color: #4fa619;
      outline: 0px solid #49aff2;
      outline: 0px solid -webkit-focus-ring-color;
      outline-offset: 5px;

      height:25px;
    }

    & > option {
      margin: 3px;
      padding: 6px 8px;
      text-shadow: none;
      background: #f2f2f2;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  &.dropdown-dark {
    background: #636363; /* NEW2 */
    background: #3e403f; /* NEW */

    border-color: #111 #0a0a0a black;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    color:#a6a6a6;
    text-shadow:0px 1px rgba(0, 0, 0, 0.25);

    &:before {
      border-bottom-color: #aaa;
    }

    &:after {
      border-top-color: #aaa;
    }

    .dropdown-select {
      color: #a6a6a6;
      text-shadow: 0 1px black;
      background: #444;
    }

    .dropdown-select:focus {
      color: #fff;
    }

    .dropdown-select > option {
      background: #56ab1a;
      text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    }
  }
}
