.esc-melody {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .editor-wrapper {
    border: 1px solid silver;
    padding: 5px;
    display: flex;

    .editor {
      width: 100%;
      font-family: monospace;

      mark {
        background: #FFCCCB;
      }

      &.playing {
        mark {
          background: #CCFFCB;
        }
      }

      textarea {
        width: 100%;
        resize: none;
        border: 0px;

        &[disabled] {
          opacity: 0.75;
        }
      }
    }
  }
}
