#changelog {
    width: 250px;
    height: 100%;
    position: absolute;
    right: -245px;
    top: 137px;
    height: calc(100% - 137px - 21px);
}

#changelog .wrapper {
    height: 100%;
    padding: 0 20px;
    border-left: 5px solid #2a84c4;
    overflow-y: auto;
    display: none;
}

#changelog .button {
    transform: rotate(270deg);
    top: 50px;
    right: 215px;
    position: absolute;
    background: #2a84c4;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    height: 30px;
}

#changelog .button a {
    display: block;
    padding: 5px 10px;
    width: 70px;
    text-align: center;
    color: white;
}

#changelog .title {
    margin: 20px 0;
    font-size: 16px;
}

#changelog.expanded {
    right: 0px;
    background: white;
}

#changelog.expanded .wrapper {
    display: block;
}

/* changelog content */
#changelog .log {
    line-height: 17px;
}

#changelog .log span {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

#changelog .log ul {
    margin: 5px 0 20px 10px;
}

#changelog .log li {
    font-weight: normal;
    margin-bottom: 5px;
}

#changelog .log p {
    margin-bottom: 20px;
}
