.changelog {
  width: 250px;
  height: 100%;
  position: fixed;
  right: -245px;
  top: 137px;
  height: calc(100% - 137px - 21px);

  @media only screen and (max-width: 600px) {
    top: 170px;
    height: calc(100% - 170px - 21px);
  }

  .wrapper {
    display: none;
  }

  &.expanded {
    right: 0px;
    background: white;

    .wrapper {
      display: block;
    }

    .button {
      right: 235px;
    }
  }

  .button {
    transform: rotate(270deg);
    top: 50px;
    right: 212px;
    position: absolute;
    background: var(--color-secondary);
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    display: block;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    font-weight: 200;
  }
}
