/* Log setup*/
#log {
    margin-bottom: 0px;
    border: 0px solid silver; /* was 1px*/
    background-color: #242424;
    color: #ccc;
    color: rgba(255, 255, 255, 0.60);
    line-height: 21px;
    height: 27px; /* was 65*/
    overflow-y: hidden; /* scroll*/
}

#scrollicon {
    position: fixed;
    right: 10px;
    top: 113px;
    height: 27px;
    width: 27px;
    background-image: url(images/icons/scroll.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.0;
    transition: all ease 0.3s;
}

#log.expanded #scrollicon {
    height: 110px;
    margin-top: 10px;
    margin-right: 20px;
    width: 110px;
    opacity: 0.15;
    background-size: 80%;
    box-shadow: inset 0 0 5px #000000;
    transition: all ease 0.3s;
}

#log.expanded {
    overflow-y: auto;
    box-shadow: inset 0 0 15px #000000;
    height: 111px;
}

#log .wrapper {
    padding: 5px; /* was 5*/
    padding-left: 10px;
    padding-bottom: 4px;
    -webkit-user-select: text;
    position: relative;
    bottom: 0px;
}

#log a {
    font-weight: regular;
    color: #252177;
}

#log a:hover {
    text-decoration: underline;
}

.logswitch {
  position: absolute;
  right: 20px;
  z-index: 10;
  line-height: 27px;
}

.logswitch a {
    color: #656565 !important;
    transition: all 0.3s;
}

.logswitch a:hover {
    color: #959595 !important;
    text-decoration: none !important;
    transition: all 0.3s;
}
