#content .tab #firmware-selector {

  .note {
    margin-bottom: 7px;
  }
}

#firmware-selector {

  .center-wrapper {
    width: 50%;
    margin: auto;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .checkbox p {
    color: red;
  }

  .default-btn {
    margin-bottom: 10px;
  }

  .default-btn:last-child {
    margin-bottom: 0px;
  }

  .alert {
    table {
      margin-top: 5px;
      margin-bottom: 5px;
      font-weight: bold;
      td {
        padding-right: 5px;
      }
    }

    a {
      color: white;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
