#motor-control-wrapper {
  max-width: 600px;
  width: 100%;
  margin-bottom: 65px;

  .checkbox {
    float: none;

    span {
      margin-left: 5px;
    }
  }

  #slider-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .slider,
    #master-slider {
      h3 {
        padding-bottom: 20px;
      }

      .input-range {
        float: none;
        margin-left: 8px;
      }
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column-reverse;
      align-items: flex-start;

      .slider {
        h3 {
          padding-top: 10px;
        }
      }
    }
  }
}
