#melody-editor {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .save-melody-wrapper {
    display: flex;
    flex-direction: row;

    input {
      width: 210px;
    }

    button {
      margin-left: 10px;
      width: 200px;
    }
  }

  .melody-editor-wrapper {
    padding: 10px;
    background: white;
    max-width: 960px;
    width: 80%;
    position: relative;

    .sync-wrapper {
      margin-top: 20px;

      .checkbox {
        display: flex;
      }
    }

    .melody-editor-escs {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;



      &.all {
        .esc-melody-wrapper {
          width: 100%;
        }
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;

      button {
        width: 100px;
        margin-left: 15px;
      }
    }

    .close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      font-weight: bold;
    }
  }
}
