#melody-editor {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .line-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

    .info-wrapper-wrapper {
      white-space: nowrap;
    }

    select {
      margin-left: 10px;
      height: 20px;
      border: 1px solid silver;
      border-radius: 3px;
    }

    .melody-selection-wrapper {
      display: flex;
      flex-direction: row;
      .default-btn {
        margin-top: -2px;
        margin-left: 10px;
        button {
          width: 100px;
        }
      }
    }
  }

  .save-melody-wrapper {
    display: flex;
    flex-direction: row;

    input {
      border: 1px solid silver;
      padding-left: 5px;
      padding-right: 5px;
      line-height: 23px;
    }

    button {
      margin-left: 10px;
      width: 100px;
    }
  }

  .melody-editor-wrapper {
    padding: 10px;
    background: white;
    max-width: 960px;
    width: 80%;
    position: relative;

    .sync-wrapper {

      .checkbox {
        display: flex;
      }
    }

    .melody-editor-escs {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;



      &.all {
        .esc-melody-wrapper {
          width: 100%;
        }
      }
    }

    .button-wrapper {
      display: flex;
      justify-content: flex-end;

      button {
        width: 100px;
        margin-left: 15px;
      }
    }

    .close {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      font-weight: bold;
    }
  }
}
