* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
}

body {
  font-family: 'open_sansregular', 'Segoe UI', Tahoma, sans-serif;
  font-size: 12px;
  color: #303030;
  background-color: lightgray;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
}

#not-supported {
  border: 1px solid red;
  background: white;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

#main-wrapper {
  padding: 0px 0px 0 0px;
  height: calc(100% - 7px);

  .header-wrapper {
    background: #3d3f3e;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  a {
    text-decoration: none;
    color: #000;
    font-family: 'open_sanssemibold', Arial;
  }

  a:hover {
    text-decoration: none;
  }

  a.disabled {
    pointer-events: none;
    cursor: default;
    color: #999;
  }

  .message-positive {
    color: green;
  }

  .message-emphasis {
    color: yellow;
  }

  .message-negative {
    color: red;
  }

  input[type="number"]::-webkit-inner-spin-button {
      opacity: 1; /* required for chromium 33+ beta */
      margin-left: 5px;
  }

  .clear-both {
    clear: both;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .headerbar {
    height:110px;
    width:100%;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15));
  }

  #logo {
    background: url('images/icon_128.png');
    position: relative;
    float: left;
    height: 90px;
    z-index: 0;
    background-repeat: no-repeat;
    width: 95px;
    background-position: left center;
    background-size: contain;
    margin-left: 23px;
    margin-top: 10px;
  }

  .hidden {
    display: none;
  }

  .language-select {
    float: right;
    margin-top: 20px;
    width: 120px;
    margin-right: 10px;
  }

  .default-btn {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    margin-top: 0px;
    float: left;

    button,
    a {
      cursor: pointer;
      padding: 5px 0px 5px 0px;
      text-align: center;
      background-color: #fff;
      border-radius: 4px;
      border: 1px solid var(--color-tertiary);
      color: var(--color-tertiary);
      font-family: 'open_sanssemibold', Arial;
      font-size: 12px;
      line-height: 13px;
      display: block;
      width: 100%;
      transition: all ease 0.2s;
      text-decoration:none;
      font-weight: bold;
    }

    button:hover,
    a:hover {
      background-color: var(--color-tertiary);
      color: #fff;
      text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
      transition: all ease 0.2s;
      text-decoration:none;
    }

    button.disabled,
    a.disabled {
      background-color: #fff;
      border: 1px solid #ccc;
      color: #ccc;
    }

    button:active,
    a:active {
      background-color: var(--color-tertiary);
      transition: all ease 0.0s;
      box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.35);
    }



    .red {
      color: red;
    }
  }

  .half {
    float: left;
    width: 50%;
  }

  .spacer {
      padding-left: 7px;
      padding-right: 7px;
      width: calc(100% - 14px);
      float: left;
  }
}

.content_wrapper {
  padding: 20px;
  position: relative;
}
