@import '../../variables.scss';

#button-bar {
  z-index: 1;
  position: fixed;
  bottom: 21px;
  width: 100%;
  background-color: #EFEFEF;
  box-shadow: rgba(0, 0, 0, 0.10) 0 -3px 8px;
  padding: 10px 0;
  overflow: hidden;
  border-top: 1px solid #F9F9F9;

  .btn button {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: #fff;
    float: right;
    font-family: 'open_sansbold', Arial;
    font-size: 12px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    display: block;
    transition: all ease 0.2s;
    padding: 0px;
    padding-left: 9px;
    padding-right: 9px;
    line-height: 28px;
  }

  .log {
    float: left;
    margin-left: 15px;
  }

  .btn button:hover {
    background-color: var(--color-secondary);
    transition: all ease 0.2s;
  }

  .btn button:active {
    background-color: var(--color-primary);
    transition: all ease 0.0s;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.35);
  }

  .btn button.disabled {
    cursor: default;
    color: #fff;
    background-color: #AFAFAF;
    border: 1px solid #AFAFAF;
    pointer-events: none;
    text-shadow: none;
    opacity: 0.5;
  }
}
