@import '../../variables.scss';

#button-bar {
  z-index: 1;
  position: fixed;
  bottom: 21px;
  width: 100%;
  background-color: #EFEFEF;
  box-shadow: rgba(0, 0, 0, 0.10) 0 -3px 8px;
  padding: 10px 0;
  overflow: hidden;
  border-top: 1px solid #F9F9F9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    padding-bottom: 0px;
    padding-top: 8px;
  }

  & > div {
    display: flex;

    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    &.buttons-right {
      align-items: flex-end;
      flex-direction: row-reverse;
    }

    &.buttons-left {
      justify-content: flex-start;
    }

    &.mobile-show {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;

    & > div {
      justify-content: flex-start;

      &.buttons-bottom,
      &.buttons-left,
      &.buttons-right {
        margin-bottom: 8px;
        margin-left: 5px;
        margin-right: 5px;

        .btn {
          flex: 1;
          margin-left: 2px;
          margin-right: 2px;
          button {
            width: 100%;
          }
        }

        &.mobile-show {
          display: flex;

          button {
            margin-bottom: 8px;
          }
        }
      }

      &:first-child {
        margin-bottom: 0px;
      }
    }
  }

  .btn button {
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    color: #fff;
    font-family: 'open_sansbold', Arial;
    font-size: 12px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    display: block;
    transition: all ease 0.2s;
    padding: 0px;
    padding-left: 9px;
    padding-right: 9px;
    line-height: 28px;
  }

  .log {
    margin-left: 20px;
  }

  @media only screen and (max-width: 600px) {
    .btn button {
      margin-right: 10px;
    }

    .log {
      margin-left: 10px;
    }
  }

  .btn button:hover {
    background-color: var(--color-secondary);
    transition: all ease 0.2s;
  }

  .btn button:active {
    background-color: var(--color-primary);
    transition: all ease 0.0s;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.35);
  }

  .btn button[disabled] {
    cursor: default;
    color: #fff;
    background-color: #AFAFAF;
    border: 1px solid #AFAFAF;
    pointer-events: none;
    text-shadow: none;
    opacity: 0.5;
  }
}
