#content {
  margin-top: 0px;
  padding: 0px;
  padding-top: 137px;
  /*padding-bottom: 50px;*/
  background-color: lightgray;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0px solid #848484;
  -webkit-transform: rotateX(0deg); /* DO NOT REMOVE! this fixes the UI freezing bug on MAC OS X */
  transition: all 0.3s;

  @media only screen and (max-width: 600px) {
    padding-top: 170px
  }

  .tab {
    position: relative;
    margin-bottom: 5px;

    .spacer-box {
      padding: 10px;
      margin-bottom: 3px;
      padding-bottom: 10px;
      width: calc(100% - 20px);
    }

    .spacer-box-title {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 4px;
      margin-bottom: 0px;
      color: white;
    }

    .gui-box {
      margin-bottom: 10px;
      font-weight: bold;
      font-family: 'open_sanssemibold', Arial;
      background-color: #FFFFFF;
      border: 1px solid var(--color-tertiary);
      border-radius: 4px;
      width: calc(100% - 2px);

      &.grey {
        background-color: #f9f9f9
      }

      .gui-box-titlebar {
        margin-bottom: 0px;
        background-color: var(--color-tertiary);
        border-radius: 3px 3px 0px 0px;
        font-size: 13px;
        width: 100%;
        height: 27px;
        padding-bottom: 0px;
        //float: left;
        font-family: 'open_sanssemibold', Arial;
      }

      span {
        font-weight: normal;
        font-family: 'open_sansregular', Arial;
        line-height: 19px;
        color: #4F4F4F;
        font-size: 11px;
      }
    }

    .checkbox,
    .number,
    .number-text,
    .select {
      margin-top: 7px;
      margin-bottom: 7px;

      label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .input-wrapper {
        flex: 0 0 195px;

        input:not([type=checkbox]),
        select {
          width: 100%;
          height: 20px;
          border: 1px solid silver;
          border-radius: 3px;
        }
      }

      &:first-child {
        margin-top: 0px;
      }
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      label {
        flex: 1;
        flex: 0 0 195px;
      }
    }

    .number {
      margin-top: 20px;

      &:first-child {
        margin-top: 10px;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
