#content {
  padding-top: 137px;
  background-color: lightgray;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0px solid #848484;
  -webkit-transform: rotateX(0deg); /* DO NOT REMOVE! this fixes the UI freezing bug on MAC OS X */
  transition: all 0.3s;

  @media only screen and (max-width: 600px) {
    padding-top: 170px
  }
}
