#content {
  margin-top: 0px;
  padding: 0px;
  padding-top: 137px;
  /*padding-bottom: 50px;*/
  background-color: lightgray;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0px solid #848484;
  -webkit-transform: rotateX(0deg); /* DO NOT REMOVE! this fixes the UI freezing bug on MAC OS X */
  transition: all 0.3s;

  .tab {
    position: relative;
    margin-bottom: 5px;

    .spacer-box {
      padding: 10px;
      margin-bottom: 3px;
      padding-bottom: 10px;
      float: left;
      width: calc(100% - 20px);
    }

    .spacer-box-title {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 4px;
      margin-bottom: 0px;
      float: left;
      color: white;
    }

    .gui-box {
      margin-bottom: 10px;
      float: left;
      font-weight: bold;
      font-family: 'open_sanssemibold', Arial;
      background-color: #FFFFFF;
      border: 1px solid var(--color-tertiary);
      border-radius: 4px;
      width: calc(100% - 2px);

      &.grey {
        background-color: #f9f9f9
      }

      .gui-box-titlebar {
        margin-bottom: 0px;
        background-color: var(--color-tertiary);
        border-radius: 3px 3px 0px 0px;
        font-size: 13px;
        width: 100%;
        height: 27px;
        padding-bottom: 0px;
        float: left;
        font-family: 'open_sanssemibold', Arial;
      }

      span {
        font-weight: normal;
        font-family: 'open_sansregular', Arial;
        line-height: 19px;
        color: #4F4F4F;
        font-size: 11px;
      }
    }

    .select select {
      float: left;
      width: 200px;
      height: 20px;
      margin: 0 14px 5px 0;
      border: 1px solid silver;
      border-radius: 3px;
    }
  }
}
